## langchain
langchain
langchain-core
langchain_together 

## env
python-dotenv

## FastAPI
fastapi
pydantic
pydantic[email]

## streamlit
streamlit
uvicorn
plotly
streamlit_option_menu
streamlit_extras